// Search form

.search-form {
  @extend .form-inline;
}

.search-form label {
  font-weight: normal;
  @extend .form-group;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
// Footer Contact Form

textarea.wpcf7-form-control.wpcf7-textarea {
  max-width: 100%;
}

.wpcf7 input,
.wpcf7 textarea {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: .5em;
  margin: 15px 0;
  max-width: 100%;
}

input.wpcf7-form-control.wpcf7-submit {
  width: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white!important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white!important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: white!important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white!important;
}
