@include font-face('helvetica-light', '../../fonts/Helv-Lt');
@include font-face('helvetica-bold', '../../fonts/Helv-Bd');

body {
  font-family: 'helvetica-light', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'helvetica-bold', sans-serif;
}

.sep-30 {
  display: block;
  position: relative;
  padding: 15px 0;
}

.sep-60 {
  display: block;
  position: relative;
  padding: 30px 0;
}

// .full-bleed {
//   width: calc(100vw - 7.5px);
//   position: relative;
//   left: 50%;
//   right: 50%;
//   margin-left: -50vw;
//   margin-right: -50vw;
//   max-width: 100vw!important;
// }

// img.full-bleed {
//   max-height: 500px;
// }

// .img-responsive {
//   max-width: 100%;
// }

a {
  color: black;
}

a:focus,
a:hover {
  color: #4aa5c0;
  text-decoration: underline;
}

p {
  font-size: 18px;
    line-height: 28px;
}

.container-fluid {
  padding: 0;
}

.page-header {
  h1 {
    margin-bottom: 26px;
  }
}
