@media only screen and (min-width: 1200px) {
  .banner>.container {
    display: flex;
  } // a.brand {
  //   flex: 1;
  //   background-image: url('../images/logo.svg');
  //   background-size: 300px;
  //   background-repeat: no-repeat; // background-position: left;
  //   background-color: transparent;
  //   position: absolute;
  //   top: 72px;
  //   left: 135px;
  //   width: 300px;
  //   height: 60px;
  // }
  .brand {
    position: absolute;
    top: 72px;
    left: 135px;
    width: 409px;
    height: 70px;
    h1 {
      height: 36px;
      width: 409px;
      color: black;
      font-size: 36px;
      line-height: 43px;
    }
    p {
      height: 18px;
      width: 360px;
      color: #9B9B9B;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 22px;
      margin-top: 15px;
      font-weight: 600;
    }
  }
  .nav-primary {
    position: absolute;
    top: 115px;
    right: 131.5px;
  }
  header.banner {
    height: 60px;
    margin: 60px 0;
  }
  nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    text-align: center;
    margin-right: 38px;
    height: 21px;
    width: auto;
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
  }
  .page-header {
    .attachment-featured-image {
      width: 100%;
    }
  }
}
