.home-images img {
  min-width: 100%;
  max-height: 350px;
}

.home-images .col-md-12 > .row [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.full-bleed.prices {
  background-color: lightblue;
  padding: 2em 0;
  margin-bottom: 15px;
}

.col-md-4.price {
  text-align: center;
}

.content-wrapper {
  padding: 3em 1em;
  background-color: aliceblue;
}
